.nav {
    position: fixed;
    padding: 16px 24px;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
}

.logo {
    color: red;
    fontweight: 900;
    margin: 0;
}

.menu {
    margin-left: 24px;
    display: flex;
    gap: 16px;
}

.link {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}